@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    background: #cecece;
}
.container
{
   margin-top: 25vh;
   position: relative;
   display: flex;
   flex-direction: column;
   gap: 30px;
   background: #ff000000;
}
.container a
{
    text-decoration: none;
    transition: 0.5s ease-in-out;
}
.container a .box
{
    position: relative;
    width: 400px;
    height: 100px;
    background: #ffffff;
    cursor: pointer;
    /* transition: 0.5s ease-in-out; */
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}
.container a:nth-child(1)
{
    transform: translateX(-70px);
}
.container a:nth-child(3)
{
    transform: translateX(70px);
}
.container:hover a:nth-child(1)
{
    transform: translateX(0px);
}
.container:hover a:nth-child(3)
{
    transform: translateX(0px);
}
.container a .box::before
{
    content: ">>>>";
    color: #ffffff;
    position: absolute;
    width: 6px;
    height: 100%;
    background-color: var(--clr);
    transition: 0.5s ease-in-out;
}
.container a .box:hover::before
{
    width: 100%;
}
.container a .box .content
{
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
}
.container a .box .content .icon
{
    position: relative;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container a .box .content .icon ion-icon
{
    font-size: 2.5em;
    color: var(--clr);
    /* transition: 1s ease-in-out; */
}
.container a .box:hover .content .icon ion-icon
{
    color: #ffffff;
    transition: 0.25s ease-in-out;
}
.container a .box .content .text h3
{
    font-weight: 500;
    color: var(--clr);
    transition: 0.5s ease-in-out;
}
.container a .box .content .text p
{
    font-family: Inconsolata, sans-serif;
    font-size: 0.9em;
    color: #999;
    transition: 0.5s ease-in-out;
}
.container a .box:hover .content .text p
{
    color: #ffffff;
    transition: 0.5s ease-in-out;
}
.container a .box:hover .content .text h3
{
    color: #ffffff;
    transition: 0.5s ease-in-out;
}
